/* -------- styles for all pages----*/
body{
    color:rgb(4, 65, 65);
}

.hero{
    background-repeat: no-repeat;
    height: 100vh;
    width:100vw;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
}

.opaque{
    background-color: rgba(127, 255, 212, 0.5);
    height: 100vh;
    width:100vw;
    position: absolute;
    z-index: 1;
}
